*.o
*.d
*.pyc
analyze
districter2
drend
linkfixup
redata.pb.cc
redata.pb.h
*~
ve
classes
2010
.AppleDouble
presentation
history
bagelbest
proj4
proj4j
./data
proj
Attic
*.bak
*.orig
news
share
target
lib
include
.hg
cpp/bin
cpp/dumpBinLog
runner/runner
