body{color:#000000;background-color:#ffffff;}
p.gentime{color:#555;}
table.snl{font-size:10pt; font-family:'Helvetica',sans-serif;margin-bottom:4px;}
tr.slg{}
tr.slgC{background-color:#ddd}
table.sp td{vertical-align:top;}
table.myo{}
table.myo td{padding-left:3px;}
td.myoh{max-width:30em;text-align:center;}
td.myow{max-width:30em;}
td.myon{max-width:30em;text-align:center;}
div.small{font-size:70%;}
p{max-width:100ex;}
td.nc{text-align:center;}
#gpluslink{color:#00f;text-decoration:underline;cursor:pointer;}
#sociald{padding:8px;}
