<!DOCTYPE html>
<html><head><title>2020 Redistricting Results</title><meta charset="UTF-8">
<meta property="og:image" content="GA_Congress/map.png" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{rooturl}}report.css" rel="stylesheet" type="text/css" />
<style>div.rb{margin-bottom:0.2em;}</style>
{% if socialshare %}
<script type="application/x-social-share-privacy-settings">{"path_prefix":"/ssp/","layout":"line","services":{"buffer":{"status":false},"delicious":{"status":false},"disqus":{"status":false},"flattr":{"status":false},"linkedin":{"status":false},"stumbleupon":{"status":false},"xing":{"status":false}}}</script>
{% else %}
<style>#custom-tweet-button a {padding: 2px 5px 2px 20px;background: url('{{rooturl}}tweet.ico') 1px center no-repeat;text-decoration:none;}</style>
{% endif %}{# social share #}
</head>
<body bgcolor="#ffffff">
<h1>Impartial Automatic Redistricting</h1>
<h2>The <b>best results so far</b> based on 2020 Census data.</h2>
<p><a href="https://www.youtube.com/watch?v=EC3L2lSSONQ" style="font-size:140%;font-weight:bold;">Watch the TED Talk!</a><br>Given 2016 June 9, at <a href="http://www.tedxcambridge.com/">TEDx Cambridge</a>. (9 minutes)</p>
<p>Below are district maps for US House and state legislatures that have been optimized for <em>equal population and compactness only</em>.
No partisan power plays.
No gerrymandering.<p>
Here are the most <a href="/about.html#compact">optimally compact</a> results so far.</p>
<table class="sp"><tr><td>
<div style="font-size: 80%; color:#777">As of {{localtime}}</div>
<div id="statebutton">☰ States</div>
{{statenav|safe}}

</td><td align="center" id="dispresult"><div>Newest winning result: <a href="{{nwinner}}/">{{nwinnername}}</a></div><div><a href="{{nwinner}}/"><img src="{{nwinner}}/map500.png"></a></div></td></tr></table>

<hr width="50%" align="center">
<table style="max-width:1100px;">
  <tr>
	<td>
	  {% include 'sitenav.html' %}
	</td><td style="vertical-align:top;width:60%;">
	  <div id="sociald">{{social|safe}}</div>
	</td>
</tr></table>

<script>
(function() {
var configs = {{configjson|safe}}; // [ [nice name, path], ... ]
var rconf = configs[Math.floor(Math.random() * configs.length)];
var dr = document.getElementById('dispresult');
if (dr) {
  dr.innerHTML = '<div><a href="' + rconf[1] + '/">' + rconf[0] + '</a></div><div><a href="' + rconf[1] + '/"><img src="' +rconf[1]+ '/map500.png"></a></div>';
}
})();
</script>

<script type="text/javascript" src="{{rooturl}}/st_index.js"></script>
{{google_analytics|safe}}
</body></html>
