<!DOCTYPE html>
{# this is the template for a single result, e.g. IN_Congress #}
<html><head><title>{{statename}} Redistricting</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{rooturl}}/report.css" rel="stylesheet" type="text/css" />
<meta property="og:image" content="{{ba_small}}" />
<meta property="og:title" content="BDistricting: {{statename}}" />
<meta property="og:url" content="https://www.bdistricting.com/2020/{{cname}}/" />
<meta property="og:site_name" content="BDistricting" />
{% if socialshare %}
<script type="application/x-social-share-privacy-settings">{"path_prefix":"/ssp/","layout":"line","services":{"buffer":{"status":false},"delicious":{"status":false},"disqus":{"status":false},"flattr":{"status":false},"linkedin":{"status":false},"stumbleupon":{"status":false},"xing":{"status":false}}}</script>
{% else %}
<style>#custom-tweet-button a {padding: 2px 5px 2px 20px;background: url('{{rooturl}}tweet.ico') 1px center no-repeat;text-decoration:none;}</style>
{% endif %}{# social share #}
</head>
<body bgcolor="#ffffff">
<div style="float:right;width:20em;">

</div>
<h1>{{statename}} Redistricting</h1>
<div class="small">From 2020 data</div>
<table class="sp"><tr><td class="ln">
      <div><a href="/2020/">2020 Redistricting Home</a></div>
      <div id="statebutton">☰ States</div>
{{statenav|safe}}
</td><td id="rhs">

<table id="imt" align="center">
{% if current_small %}<tr><th>My Way</th><th>Current</th></tr>{% endif %}
<tr><td align="center"><a href="{{ba_large}}"><img src="{{ba_small}}" title="{{statename}} congressional district map, my way" alt="{{statename}} congressional district map, current"></a></td>{% if current_small %}<td align="center"><a href="{{current_large}}"><img src="{{current_small}}"></a></td>{% endif %}</tr>
<tr><td align="center">{{statename}} possible district map from my solver.<br /><a href="{{ba_large}}" title="{{statename}} congressional district map, my way">Larger {{statename}} map</a></td>{% if current_small %}<td align="center">{{statename}} current district map<br /><a href="{{current_large}}">Larger {{statename}} map</a></td>{% endif %}</tr>
</table>

<table border="1" style="margin-top:1em;margin-bottom:1em;" align="center">
{% if current_small %}<tr><td></td><td class="myow">My Way</td><td class="myow">Current</td></tr>{% endif %}
<tr><td class="myoh">average distance between a voter and<br />the center of their district (in kilometers)</td><td class="myon{% if current_kmpp and my_kmpp < current_kmpp %} better{% endif %}">{{my_kmpp|pprint}}</td>{% if current_small %}<td class="myon{% if current_kmpp and my_kmpp > current_kmpp %} better{% endif %}">{{current_kmpp|pprint}}</td>{% endif %}</tr>
<tr><td class="myoh">difference in population between<br />the least populous district and<br />the most populous district<!-- (out of about )--></td><td class="myon{% if current_spread and my_spread < current_spread %} better{% endif %}">{{my_spread}}</td>{% if current_small %}<td class="myon{% if current_spread and my_spread > current_spread %} better{% endif %}">{{current_spread}}</td>{% endif %}</tr>
<tr><td class="myoh">standard deviation of<br />district populations</td><td class="myon{% if current_std and my_std < current_std %} better{% endif %}">{{my_std}}</td>{% if current_small %}<td class="myon{% if current_std and my_std > current_std %} better{% endif %}">{{current_std}}</td>{% endif %}</tr>
</table>

{{extra|safe}}
{% if current_demographics %}
<table align="center"><tr><th colspan="2">Demographics</th><tr>
<tr>
<th>My Way</th>
<th>Current</th>
</tr>
<tr>
<td class="demobox">{{racedata|safe}}</td>
<td class="demobox">{{current_demographics|safe}}</td>
</tr>
</table>
{% else %}
{{racedata|safe}}
{% endif %}
<div><a href="solution.zip">zipped csv block list for {{statename}}</a></div>
<div><a href="/2010/{{cname}}/">{{statename}} from 2010 Census</a></div>
<div><a href="/2000/{{stu}}/">{{statename}} from 2000 Census</a></div>
</td></tr></table>

<hr width="50%" align="center">
<table style="max-width:1100px;">
  <tr>
	<td>
	  {% include 'sitenav.html' %}
	</td><td style="vertical-align:top;width:60%;">
      <div id="sociald">{{social|safe}}</div>
<div class="share" data-uri="{{pageabsurl}}" data-image="{{dirabsurl}}{{ba_large}}"></div>
	</td>
</tr></table>

<p><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a><br />This work by <a xmlns:cc="http://creativecommons.org/ns#" href="http://bdistricting.com/" property="cc:attributionName" rel="cc:attributionURL">Brian Olson</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</p>
<script type="text/javascript" src="{{rooturl}}/st_index.js"></script>
{{google_analytics|safe}}
</body></html>
